# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Environment Variables
.env

# IDE
.vscode/
.idea/

# Scraper Data
chromedriver.log
geckodriver.log

# Build
build/
dist/
*.spec
